
.incoming
 {
    background-color: indigo;
}

.outgoing
 {
    background-color: orange;
}

.technical
 {
    background-color: teal;
}

.dots
{
  background-color: maroon;
  text-align: center;
}

.dots_text
{
  text-align: center;
}
